<!---
<a href="https://substack.com/@scimartin" target="_blank">
  <div class="iconwrapper">
  <svg
   class="icon"
   version="1.0"
   width="16"
   height="16"
   viewBox="0 0 16 16"
   preserveAspectRatio="xMidYMid meet"
   id="svg10"
   sodipodi:docname="paragraph.svg"
   inkscape:version="1.1.1 (3bf5ae0d25, 2021-09-20)"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <path d="M15 3.604H1v1.891h14v-1.89ZM1 7.208V16l7-3.926L15 16V7.208zM15 0H1v1.89h14z"/>
  </svg>
  </div>
</a>
<a href="https://x.com/scimartinx" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a>
<a href="https://bsky.app/profile/scimartin.bsky.social" target="_blank"><i class="fa-brands fa-square-bluesky"></i></a>
<br>
--->